<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务条款 - {$title}</title>
    <link href="{$logo}" rel="icon">
    <style>
        header,body{
            margin: 0;
            padding: 0;
        }
        header{
            box-shadow: 0 0 10px #e1e1e1;
        }
    </style>
</head>
<body>
<header style="background: #ffffff;z-index: 10;position: sticky;top: 0">
    <div style="max-width: 1000px;align-items: center;padding: 15px;margin: 0 auto;display: flex;justify-content: space-between;">
        <div style="font-size: 25px;font-weight: bolder;display: flex;align-items: center;gap: 15px">
            <img src="{$logo}" alt="logo" style="width: 40px;height: 40px" />
            {$title}
        </div>
        <a href="/" style="padding: 10px 20px;border-radius: 6px;background: #1e9fff;color: #FFFFFF;text-decoration: none;font-size: 13px">返回首页</a>
    </div>
</header>
<div style="max-width: 1000px;padding: 15px;margin: 0 auto;">
    {$content|raw}
</div>
</body>
</html>
