/.idea
/.vscode
*.log
.env
storage
/runtime/
private.key
publickey.key
/config/jsonConfig/siteConfig.json
/.well-known
public/.user.ini
public/images
public/installed.lock
.user.ini
/mtab
mtab.zip
/public/static/exportsTabLink.json
/vendor
xy.pem
/plugins/
/public/browserExt.zip
node_modules/
.next/
out/
coverage/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
